In [12]:
import pandas as pd

In [21]:
df = pd.read_csv("/content/train.csv")
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,1.0,1,First,1967.0,1582.0,1262.0,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,0.0,1,First,13.0,1199.0,887.0,5.0,861.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,1.0,1,First,2077.0,1248.0,8876.0,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,1.0,0,Second,152.0,1968.0,1408.0,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,1.0,1,First,2308.0,1461.0,631.0,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,1.0,1,First,284.0,1248.0,74.0,5.0,788.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,1.0,1,First,244.0,1120.0,71.0,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,1.0,1,Second,140.0,2498.0,112.0,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,0.0,1,First,189.0,998.0,671.0,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,1.0,1,First,2544.0,936.0,576.0,5.0,NaN,2.50

In [22]:
null_counts = df.isna().sum()

print("Missing‑Value Summary per Column:\n")

for column_name, missing_count in null_counts.items():
    print(f"{column_name}: {missing_count}")

Missing‑Value Summary per Column:

Unnamed: 0: 0
Name: 0
Location: 0
Year: 0
Kilometers_Driven: 0
Fuel_Type: 2
Transmission: 0
Owner_Type: 0
Mileage: 2
Engine: 36
Power: 36
Seats: 38
New_Price: 5032
Price: 0

In [23]:
null_summary = df.isna().sum()


cols_to_fill = null_summary[null_summary > 0].index


for col in cols_to_fill:

    pct_missing = (df[col].isna().sum() / len(df)) * 100
    print(f"Filling {pct_missing:.2f}% missing in '{col}'")

    if pd.api.types.is_numeric_dtype(df[col]):
        impute_val = df[col].mean()
    else:
        impute_val = df[col].mode().iloc[0]

    df[col] = df[col].fillna(impute_val)

Filling 0.03% missing in 'Fuel_Type'
Filling 0.03% missing in 'Mileage'
Filling 0.62% missing in 'Engine'
Filling 0.62% missing in 'Power'
Filling 0.65% missing in 'Seats'
Filling 86.06% missing in 'New_Price'

In [24]:
df.isnull().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

In [26]:
import os


cleaned_dir = "/content/cleaned_dataset"
os.makedirs(cleaned_dir, exist_ok=True)

output_path = os.path.join(cleaned_dir, "cleaned_train.csv")

df.to_csv(output_path, index=False)

print(f"Cleaned dataset saved to: {output_path}")

Cleaned dataset saved to: /content/cleaned_dataset/cleaned_train.csv